<% if @restaurants.any? %>
  <ul>
  <% @restaurants.each do |restaurant| %>
    <li class='restaurant'><%= restaurant.name %> (<%= restaurant.cuisine %>) 
      Average rating: 
      <span class='average_rating'>
        <%= star_rating(restaurant.average_rating) %>
      </span>  <br>
      <%= link_to "Edit", edit_restaurant_path(restaurant.id) %>
      <%= link_to "Delete", restaurant_path(restaurant.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to "Review", new_restaurant_review_path(restaurant.id) %>
      <ul class='reviews'>
        <% restaurant.reviews.each do |review| %>
          <li><%= review.thoughts %> (<%= star_rating review.rating %>)</li>
        <% end %>
      </ul>
      <%= form_for [restaurant, @review] do |f| %>
        <%= f.label :thoughts %>
        <%= f.text_area :thoughts %>
        <%= f.label :rating %>
        <%= f.select :rating, 1..5 %>
        <%= f.submit %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>


